@font-face {
    font-display: swap;
    font-family: 'Yiggivoo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/yiggivoo_unicode.eot'); /* IE9 Compat Modes */
    src: url('../fonts/yiggivoo_unicode.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/yiggivoo_unicode.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/yiggivoo_unicode.woff') format('woff'), /* Modern Browsers */
         url('../fonts/yiggivoo_unicoder.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/yiggivoo_unicode.svg#ABeeZee') format('svg'); /* Legacy iOS */
}