@import 'reset';
@import 'fonts';

// BASE ---------------
:root{
    --primary-color:#2E2F36;
    --secondary-color:#A5E600;
    --white-color:#ffffff;
    --gray-color:#E6E6E6;
}
a{
    text-decoration: none;
    color: inherit;
}
.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}
.section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & h2{
        font-size: 5vw;
        font-family: "Bebas Neue", sans-serif;
        color: var(--white-color);
    }
}
.section:nth-child(2){
    background-color: var(--secondary-color)
}
.section:nth-child(3){
    background-color: var(--primary-color);
}
.section:nth-child(4){
    background-color: var(--secondary-color);
}
.section:nth-child(5){
    background-color: var(--primary-color);
}
.section:nth-child(6){
    background-color: var(--secondary-color)
}
.section:nth-child(7){
    background-color: var(--primary-color);
}
.section:nth-child(8){
    background-color: var(--secondary-color)
}
.container{
    width: 100%;
    max-width: 1920px;
    padding: 0 100px;
    margin: 0 auto;
}
body{
    font-size: 16px;
    line-height: 140%;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    color: var(--primary-color);
}

// HEADER ---------------
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    &.white{
        & .header__item:nth-child(1)::after{
            width: 100%;
            transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-delay: .05s;
        }
        & .header__item:nth-child(3)::after{
            width: 100%;
            transition:1s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-delay: .05s;
        }
        & .header__item:nth-child(1)::before{
            right: -17px;
        }
        & .header__item:nth-child(3)::before{
            left: -17px;
        }
        & .menu{
            border-radius: 0;
            transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-delay: 0s;
        }
        & .header__logo{
            color: var(--primary-color);
            transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-delay: .5s;
        }
        & .header__item:nth-child(3) .lang{
            transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-delay: .2s;
            color: var(--primary-color);
        }
        & .header__item:nth-child(3) .lang path{
            transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-delay: .2s;
            fill: var(--primary-color);
        }
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 10px 80px;
    }
    &__item{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__item:nth-child(1){
        display: flex;
        justify-content: start;
        padding-left: 20px;
    }
    &__item:nth-child(3){
        display: flex;
        gap: 10px;
        justify-content: end;
        padding-right: 20px;
        font-family: "Bebas Neue", sans-serif;
        text-transform: uppercase;
        & .lang{
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--white-color);
            transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            & path{
                transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                fill: var(--white-color);
            }
        }
        & .request{
            background-color: var(--secondary-color);
            padding: 10px 45px;
            border-radius: 30px;
            color: var(--primary-color);
            transition: .3s ease-in-out;
            &:hover{
                background-color: var(--primary-color);
                transition: .3s ease-in-out;
                color: var(--secondary-color);
            }
        }
    }
    &__item:nth-child(1)::before{
        content: url("../images/substract.svg");
        position: absolute;
        right: 0;
        top: 0;
        transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: .4s;
    }
    &__item:nth-child(1)::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 0;
        right: 0;
        top: 0;
        background-color: var(--white-color);
        border-radius: 10px 0 0 10px;
        transition:.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: -1;
    }
    &__item:nth-child(3)::before{
        content: url("../images/substract.svg");
        position: absolute;
        left: 0;
        top: 0;
        transform:scaleX(-1.05);
        transition: .3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: .4s;
    }
    &__item:nth-child(3)::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
        background-color: var(--white-color);
        border-radius:0 10px 10px 0;
        transition:.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: -1;
    }
    &__logo{
        font-family: "Bebas Neue", sans-serif;
        font-size: 32px;
        color: var(--white-color);
        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    & .menu{
        padding: 10px 50px;
        position: relative;
        border-radius: 0 0 25px 25px;
        background-color: var(--white-color);
        transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);;
        transition-delay: .5s;
        &__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            &:hover .menu__item:not(:hover){
                opacity: 0.6;
                transition: .3s ease-in-out;
            }
        }
        &__item{
            transition: .3s ease-in-out;
        }
        &__link{
            font-family: "Bebas Neue", sans-serif;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            position: relative;
            padding: 10px 0;
            &::before{
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: var(--secondary-color);
                border-radius: 50%;
                top: 0;
                transform: scale(0);
                transition: .3s ease-in-out;
            }
            &:hover::before{
                transform: scale(1);
                transition: .3s ease-in-out;
            }
        }
    }
}

// HERO ----------------
.hero{
    padding: 10px;
    height: 100vh;
    width: 100%;
    &__wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 100px 50px 100px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: flex-end;
    }
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(.8);
    }
    &__item{
        grid-column-start: 2;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        align-items: flex-end;
        &--title{
            font-family: "Bebas Neue", sans-serif;
            font-size: 8.3vw;
            line-height: 80%;
            letter-spacing: -.03rem;
            color: var(--white-color);
            grid-column: span 2;
        }
        &--desc{
            color: var(--white-color);
        }
        &--btn{
            background-color: var(--secondary-color);
            font-family: "Bebas Neue", sans-serif;
            padding: 10px 45px;
            border-radius: 30px;
            width: fit-content;
            height: fit-content;
            color: var(--primary-color);
            transition: .3s ease-in-out;
            &:hover{
                background-color: var(--primary-color);
                transition: .3s ease-in-out;
                color: var(--secondary-color);
            }
        }
    }
}
// ADVANTAGES ----------------
.advantages{
    padding-bottom: 80px;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        &--img{
            transform: translateY(40px);
            position: relative;
            z-index: -1;
        }
        &--circle{
            padding: 25px;
            background-color: var(--primary-color);
            border-radius: 50%;
            margin-bottom: 20px;
        }
        &--title{
            font-family: "Bebas Neue", sans-serif;
            font-size: 24px;
        }

        
    }
}